**/fake-news-detector-files
**/__pycache__
*.env
*.sqlite3
**/migrations
*.json
**/ml_models
**/db
**/celerybeat-schedule
**/dump.rdb
**/faiss_index.pkl
**/faiss_index
**/faiss_embeddings.npy
**/faiss_articles.pkl
